body {
  background-color: #f2f2f2;
  font-family: sans-serif;
}

header {
  text-align: center;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

img {
  width: 250px;
}

footer {
  text-align: center;
}
